body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212; /* Cor de fundo escura */
    color: #e0e0e0; /* Cor do texto clara */
}

header{
    background: #1f1f1f; /* Fundo escuro no header */
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-bottom: 2px solid #333; /* Adiciona uma linha abaixo */
}

.photo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover; /* Garante que a imagem preencha o círculo sem distorção */
    /* Removemos a borda aqui */
}



header div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

header h1{
    margin: 0;
    font-size: 30px;
}

header p{
    margin: 5px 0;
}

header a{
    color: #e0e0e0;
    text-decoration: none;
    font-weight: bold;
}

header a:hover{
    text-decoration: underline;
    color: #00aaff; /* Cor para destaque no hover */
}

/*----------------------SECTION------------------------------*/
section{
    margin: 20px;
    padding: 20px;
    background: #1f1f1f; /* Cor de fundo escura para as seções */
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}

section h2{
    color: #00aaff; /* Cor de destaque para títulos */
    font-size: 24px;
    margin-bottom: 10px;
}

section p, section ul{
    font-size: 16px;
}

section ul{
    padding-left: 20px;
}

section ul li{
    list-style-type: disc;
    margin-bottom: 5px;
}

/*----------------------FOOTER------------------------------*/
footer{
    text-align: center;
    padding: 10px;
    background: #1f1f1f;
    color: white;
    margin-top: 20px;
    border-top: 2px solid #333;
}
